.show-event-conainer{
    padding: 5px;
}

.event-container{
    background-color: #ffffff;
    border-radius:20px;
    border: solid #abced4 2px;
    margin-bottom: 20px;
}

.event-container .event-title{
    font-weight:700;
    text-align:center;
    padding: 5px 0px;
}

.event-container .event-text{
    padding: 5px 0px;
}

.event-container .event-footer{
    font-size: 9px;
    color: #626262;
    text-align:right;
    padding: 3px 0px;
}

.event-container .event-footer .event-icons{
    text-align:center;
}

.event-container .event-footer .event-icons a{
    text-align:center;
    text-decoration:none;
    color:inherit;
}

.event-addEvent-btn{
    border:solid 1px #abced4;
    text-decoration:none;
    color:inherit;    
    background-color:#ffffff;
}

.event-addEvent-btn:hover{
    background-color:#abced4;
}

.event-form-text{
    width:100%;
    max-width:none;
}

.event-form-date{
    width:100%;
    max-width:100%;
}