.show-event-conainer{
    padding: 5px;
}

.event-container{
    background-color: #ffffff;
    border-radius:20px;
    border: solid #abced4 2px;
    margin-bottom: 20px;      
}

.event-container .event-title{
    font-weight:700;
    text-align:center;
    padding: 5px 0px;
}

.event-container .event-text{
    padding: 5px 0px;
}

.event-container .event-footer{
    font-size: 9px;
    color: #626262;
    text-align:right;
    padding: 3px 0px;
}

.event-container .event-footer .event-icons{
    text-align:center;
}

.event-container .event-footer .event-icons a{
    text-align:center;
    text-decoration:none;
    color:inherit;
}

.event-addEvent-btn{
    border:solid 1px #abced4;
    text-decoration:none;
    color:inherit;    
    background-color:#ffffff;
}

.event-addEvent-btn:hover{
    background-color:#abced4;
}

.event-form-text{
    width:100%;
    max-width:none;
}

.event-form-date{
    width:100%;
    max-width:100%;
}

.events-container{
    height:900px;
}

.event-pictrue-container {    
    min-height:30px; 
    padding: 5px  0;
}

.event-pictrue-container .event-pictrue-btn {
    min-height:30px;    
    width:100px;
    background-color: #abced4;
    width: 100px;
    margin: auto;
    border-radius:30px;
    display:block;
    border: 1px solid #cccccc;
    cursor: pointer;
    position:relative;
}

.event-pictrue-container .event-pictrue-btn div {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
    width:100%;
    text-align:center;
}

.dropzone {
    min-height: unset;
    border: 2px solid #abced4;
    background: white;
    margin-bottom: 5px;
    padding: 5px;
}

.dropzone .dz-preview {
    margin: 5px;
}

.add-event-btn{
    display:block;
    margin:auto;
}
