.event-title .field-validation-error{
    display:block;
    color:#f53f3f;
    font-size:11px;
}

.event-text .field-validation-error{
    display:block;
    color:#f53f3f;
    font-size:11px;
    font-weight: 700;
}
